@using KOL_HoangThuyLinh.Models
@model tblReqPassword

@{
    Layout = null;
    ViewBag.Title = "Thay đổi mật khẩu";
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    @Styles.Render("~/Content/csshome")
    <style>
        label.error {
            color: #dd2121;
        }

        .bootbox-close-button {
            float: right;
        }
    </style>
</head>
<body class="auth-wrapper">
    <div class="all-wrapper menu-side with-pattern">
        <div class="auth-box-w">
            <div class="logo-w">
                <a href="/l"><img alt="" src="~/Content/Images/logohome.jpg" class="img-fluid" style="width:65%"></a>
            </div>
            <h4 class="auth-header">
                @ViewBag.Title
            </h4>
            <form id="frmEdit" name="frmEdit" role="form">
                <input name="Id" type="hidden" id="Id" value="@ViewBag.Id" />
                <div class="form-group">
                    <label for="">Username</label>
                    @Html.Editor("UserName", new { htmlAttributes = new { @class = "form-control required", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label for="">Mật khẩu cũ</label>
                    @Html.PasswordFor(model => model.OldPass, new { @class = "form-control required" })
                    @Html.ValidationMessageFor(model => model.OldPass, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label for="">Mật khẩu mới</label>
                    @Html.PasswordFor(model => model.NewPass, new { @class = "form-control required" })
                    @Html.ValidationMessageFor(model => model.NewPass, "", new { @class = "text-danger" })
                </div>
                <div class="buttons-w">
                    <button class="btn btn-primary" type="button" onclick="resetpass(); return false;">Cập nhật</button>

                </div>
            </form>
        </div>
    </div>
    @Scripts.Render("~/bundles/jshome")
    <script src="~/Scripts/bootbox.min.js"></script>
    <script type="text/javascript">
        function initValidate() {
            $("#frmEdit").validate({
                messages: {
                    OldPass: {
                        required: "Vui lòng nhập mật khẩu cũ"
                    },
                    NewPass: {
                        required: "Vui lòng nhập mật khẩu mới"
                    }
                }
            })
        }
        function resetpass() {
            if ($('#frmEdit').valid()) {
                $.ajax({
                    url: "@Url.Action("CheckCurrentPass", "MyAccount")",
                    type: "POST",
                    data: {
                        user: $("#UserName").val(),
                        oldPass: $("#OldPass").val()
                    },
                    success: function (msg) {
                        if (msg == "0") {
                            bootbox.alert("Mật khẩu cũ không chính xác. Vui lòng kiểm tra lại");
                            return false;
                        } else {
                            $.ajax({
                                url: "@Url.Action("UpdatePass", "ManageUsers")",
                                type: "POST",
                                data: {
                                    Id: $("#Id").val(),
                                    str: $("#NewPass").val()
                                },
                                success: function (msg) {
                                    if (msg == "ok") {
                                        bootbox.alert("Đã cập nhật mật khẩu thành công", function () {
                                            window.location.href = "/MyAccount/LogOut";
                                        });
                                    }
                                }
                            })
                        }
                    }
                })
            }
        }

        $(document).ready(function () {
            initValidate();
        })
    </script>
</body>

</html>
