@using KOL_HoangThuyLinh.Models
@using MvcPaging
@model IPagedList<KOL_HoangThuyLinh.Models.tblGalleryDT>
@{ 
    int i = 0;
}

@if (Model.Count() > 0)
{
    <div class="gallery-albums">
        <div class="section section-gallery-albums">
            <div class="gallery-albums-title">
                <p href="#" class="hash-tag">@Model.ToList().FirstOrDefault().Title</p>
            </div>
            <div class="container-fluid">
                <div class="swiper-container">
                    <div class="swiper mySwiper">
                        <div class="swiper-wrapper">
                            @foreach (tblGalleryDT tbl in (IEnumerable<tblGalleryDT>)ViewData["AllAlbums"])
                            {
                                <div class="swiper-slide">
                                    <figure class="figure">
                                        <a href="#" onclick="initValue(@(i),event)">
                                            <img src="@Url.Content("~/uploads/" + tbl.Avatar)" class="figure-img img-fluid">
                                        </a>
                                    </figure>
                                </div>
                                i++;
                            }

                        </div>
                    </div>
                    <div class="swiper-button-prev"><img src="~/Content/Images/arrow-left-white.png" /></div>
                    <div class="swiper-button-next"><img src="~/Content/Images/arrow-right-white.png" /></div>
                </div>
            </div>
            <div class="container-fluid py-3">
                <div class="section" id="dvList">
                        @Html.Partial("GetListAlbum", Model)
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("_modalGallery", ViewData["AllAlbums"])
}

@section scripts{
    <script>
        var swiper = new Swiper(".mySwiper", {
            slidesPerView: 1,
            loop: true,
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });

        function initValue(initImage, event) {
            event.preventDefault();
            $('#currentImageClicked').val(initImage);
            $('#modalGallery').modal('show');
        }

        var swiperModal;
        $('#modalGallery').on('show.bs.modal', function (event) {
            if (swiperModal != null) {
                swiperModal.destroy(true, true);
                swiperModal = null;
            }
            var imageClicked = $('#currentImageClicked').val();
            swiperModal = new Swiper(".myModalSwiper", {
                slidesPerView: 1,
                initialSlide: Number(imageClicked),
                pagination: {
                    el: "#modalGallery .swiper-pagination",
                    type: "fraction"
                },
                navigation: {
                    nextEl: "#modalGallery .swiper-button-next",
                    prevEl: "#modalGallery .swiper-button-prev"
                },
                speed: 700,
                watchSlidesProgress: true,
            })
            $('#modalGallery .swiper-slide').css("transform", `scale(0)`);
        })

        $('#modalGallery').on('shown.bs.modal', function (event) {
            $('#modalGallery .swiper-slide').css("transform", `scale(1)`);
        })



    </script>
}