@using MvcPaging;
@using KOL_HoangThuyLinh.Models
@model IPagedList<tblGallery>
@using System.Web.Configuration;
@{
    string url = WebConfigurationManager.AppSettings["UrlHost"];
}

<div class="row">
    @foreach (tblGallery tbl in Model)
    {
            string strLink =
    Url.Action("GalleryAlbum", "Gallery", new { url = myCommon.FriendlyUrl(tbl.Title), id = tbl.Id });
        <div class="col-sm-6">
            <div class="gallery-album">
                <div class="gallery-album-title">
                    <a href="@strLink" class="hash-tag">@tbl.Title</a>
                </div>
                <div class="gallery-albbum-image">
                    <figure class="figure">
                        <a href="@strLink">
                            <img src="@Url.Content("~/uploads/" + @tbl.AvatarCover)" class="figure-img img-fluid" alt="">
                        </a>
                    </figure>
                </div>
            </div>
        </div>
    }
</div>

<div class="clearfix"></div>

@if (Model.PageCount > 1)
{
    <div class="paging">
        @Html.Pager(Model.PageSize, Model.PageIndex + 1, Model.TotalItemCount, new AjaxOptions() { UpdateTargetId = "dvList" }).Options(o => o
           .RouteValues(new { clickPaging = true, ViewBag.Id })
          .DisplayTemplate("Bootstrap4Pagination")
         .MaxNrOfPages(5)
        )
    </div>
}
