@using CMS1_Core.Models
@model  tblNews
@{
    ViewBag.Title = "Hiệu chỉnh bài viết";
}

<link href="/css/daterangepicker.min.css" rel="stylesheet" />
<link href="/css/bootstrap-tagsinput.min.css" rel="stylesheet" />

<div class="x_panel">
    <div class="x_title">
        <h3>
            @ViewBag.Title
        </h3>
    </div>
    <div class="x_content">
        <form id="frmEdit" class="form-horizontal form-label-left" style="padding-top:15px">
            @Html.HiddenFor(model => model.Id)

            <div class="item form-group">
                <label class="col-form-label col-md-2 col-sm-2 label-align">Tiêu đề <span class="text-red">*</span></label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control required", @placeholder = "Tiêu đề bài viết" } })
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="item form-group">
                <label class="col-form-label col-md-2 col-sm-2 label-align">Tóm tắt <span class="text-red">*</span></label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    @Html.TextAreaFor(model => model.Teaser, new { @class = "form-control required", @placeholder = "Tóm tắt nội dung" })
                    @Html.ValidationMessageFor(model => model.Teaser, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="item form-group">
                <div class="col-md-2 col-sm-2">
                    <div class="col-form-label label-align">Nội dung <span class="text-red">*</span></div>
                    <div class="row">
                        <div class="col-md-12 text-right mt-4">
                            <button class="btn btn-success " type="button" id="btnPostContent" onclick="showimg(1);">
                                <i class="fa fa-image"></i>
                                <span>Chèn Ảnh</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    @Html.Hidden("Body")
                    <div class="document-editor__toolbar"></div>
                    <div id="editor">
                        @Html.Raw(Model.Body)
                    </div>
                </div>
            </div>

            <div class="row form-group">
                <label class="col-form-label col-md-2 col-sm-2 label-align">Avatar <span class="text-red">*</span></label>
                <div class="col-md-10 col-sm-10 col-xs-12">
                    <button class="btn btn-success " type="button" id="btnPostContent" onclick="showimg(2);">
                        <i class="fa fa-check-circle"></i>
                        <span>Chọn hình</span>
                    </button>
                    <span id="errAvatar" class="text-danger">Vui lòng upload hình cover</span>
                                    <div class="col-sm-12">
                    <div id="loadImgThumbnail" class="files">
                        @if (!string.IsNullOrEmpty(Model.Avatar))
                        {
                            <img src="@Model.Avatar" />
                        }
                    </div>
                    @Html.Hidden("Avatar")
                </div>
                </div>

            </div>

            <div class="item form-group">
                <label class="col-form-label col-md-2 col-sm-2 label-align">Tag <span class="text-red">*</span></label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <input type="text" name="MasterTag" id="MasterTag" class="form-control required" placeholder="Nhập duy nhất tag" />
                </div>
            </div>
            <div class="item form-group">
                <label class="col-form-label col-md-2 col-sm-2 label-align">Thời gian xuất bản <span class="text-red">*</span></label>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <input type="text" name="PublishDate" id="PublishDate" class="form-control has-feedback-left" placeholder="" required="required" />
                    <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                </div>
                <label class="col-form-label col-md-2 col-sm-2 label-align">Trạng thái  <span class="text-red">*</span></label>
                <div class="col-md-4 col-sm-3 col-xs-12">  
                    <select id="cbStatus" class="form-control">
                        @if (Model.Status == 0)
                        {
                            <option value="0" selected>Chờ duyệt</option>
                            <option value="1" >Đăng bài</option>

                        }
                        else {
                            <option value="0" >Chờ duyệt</option>
                            <option value="1" selected>Đăng bài</option>
                        }

                    </select>
                </div>
            </div>
            <div class="item form-group">
                <label class="col-form-label col-md-2 col-sm-2 label-align">Thumb Facebook</label>
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-sm-6">
                            <button class="btn btn-success " type="button" id="btnPostContent" onclick="showimg(3);">
                                <i class="fa fa-check-circle"></i>
                                <span>Chọn hình</span>
                            </button>
                            <div style="font-size:12px; color:#Fe0000;">Size đúng: Width:1200px --- Height = 628px</div>
                            <span id="errAvatarFB" class="text-danger">Vui lòng upload hình cover</span>
                        </div>
                        <div class="col-sm-12">
                            <div id="loadImgThumbnailFB" class="files">
                                @if (!string.IsNullOrEmpty(Model.AvatarFB))
                                {
                                    <img src="@Model.AvatarFB" class="img-content-drop" />
                                }
                            </div>
                            @Html.Hidden("AvatarFB")
                        </div>
                    </div>
                </div>
            </div>

            <div class="item form-group">
                <label class="col-form-label col-md-2 col-sm-2 label-align"></label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <input type="button" value="Lưu bài" class="btn btn-danger" onclick="savecontent(1); return false;" />
                </div>
            </div>
        </form>
    </div>
</div>
@Html.Partial("_modal")

@section scripts
    {
    <script src="/js/ckeditor.js" type="text/javascript"></script>
    <script src="/js/moment.min.js" type="text/javascript"></script>
    <script src="/js/bootstrap_tagsinput.min.js" type="text/javascript"></script>
    <script src="/js/jscontent.js" type="text/javascript"></script>
    <script src="/js/daterangepicker.min.js" type="text/javascript"></script>

    <script type="text/javascript">
        var urlTag = "/Admincp/Tags/GetListTag/q=";

        $(document).ready(function () {
            initValidate();
            $('#PublishDate').daterangepicker({
                singleDatePicker: true,
                autoApply: true,
                startDate: '@Model.PublishDate.ToString("dd/MM/yyyy HH:mm")',
                timePicker: true,
                timePicker24Hour: true,
                drops: 'up',
                locale: {
                    format: 'DD-MM-YYYY HH:mm'
                }
            });

            $('#MasterTag').tagsinput({
                itemValue: 'Id',
                itemText: 'TagName',
                nameForInputTag: 'tagdisplayids',
                typeahead: {
                    source: function (query) {
                        if (query.length >= 3) {
                            return $.get(urlTag + query);
                        }
                        else {
                            return [];
                        }
                    }
                }
            });

                 @foreach(var x in ViewBag.lstTag)
            {
                @Html.Raw("$('#MasterTag').tagsinput('add', { \"Id\": " + x.Id + " , \"TagName\": \"" + x.TagName + "\"});");
            }

        });


        function showimg(id) {
            $.ajax({
                type: 'POST',
                url: "@Url.Action("ShowUrlImage", "Content")",
                data: {
                    Id:id
                },
                success: function (res) {
                    $('#frmdlg .modal-body').html(res);
                    $('#frmdlg .modal-title').html('Nhập Url hình');
                    $('#frmdlg').modal('show');
                   $("#frmEdit").removeData("validator");
                    $.validator.unobtrusive.parse(document);
                    initValidateUrl();
                }
            })
        }
    </script>
}