@using MvcPaging;
@using KOL_HoangThuyLinh.Models
@model IPagedList<tblHome>
@using System.Web.Configuration;
@{
    string url = WebConfigurationManager.AppSettings["UrlHost"];
}


<div class="row">
    @foreach (tblHome tbl in Model)
    {
        string strUrl = url + tbl.UrlLink + "-" + tbl.Id + ".html";
        <div class="col-sm-3 blog-item">
            <div class="card bg-dark text-white">
                <img src="@tbl.Avatar2x1" class="card-img">
                <div class="card-img-overlay"></div>
                <div class="card-info">
                    <div class="card-info-date">
                        <span>
                            <i class="fa fa-clock-o"></i>
                            @tbl.PublishDate.ToString("dd/MM/yyyy hh:mm")
                        </span>
                    </div>
                    <h5 class="card-info-title">
                        <a href="@strUrl">
                            @tbl.Title
                        </a>
                    </h5>
                    <div class="card-read-more">
                        <a href="@strUrl" class="btn btn-read-more">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>



@if (Model.PageCount > 1)
{
    <div class="paging">
        @Html.Pager(Model.PageSize, Model.PageIndex + 1, Model.TotalItemCount, new AjaxOptions() { UpdateTargetId = "dvList" }).Options(o => o
           .RouteValues(new { clickPaging = true, ViewBag.Id })
          .DisplayTemplate("Bootstrap4Pagination")
         .MaxNrOfPages(5)
        )
    </div>
}