@using System.Web.Configuration;
@using KOL_HoangThuyLinh.Models
@model IEnumerable<tblHome>
@{
    string url = WebConfigurationManager.AppSettings["UrlHost"];
}

<div class="th-widget th-mostpopularpost">
    <div class="th-widgettitle">
        <h3>Tin đọc nhiều nhất</h3>
    </div>
    <ul>
        @foreach (tblHome tbl in Model)
        {
            string strUrl = url + tbl.UrlLink + "-" + tbl.Id + ".html";
            if (tbl.IdType == 1)
            {

                <li class="news-news-type">
                    <div class="row">
                        <div class="col-12 col-md-5 col-xl-4 mb-sm-0 mb-2">
                            <a href="@strUrl" title="@tbl.Title">
                                <figure class="figure">
                                    <img src="@tbl.Avatar2x1" alt="@tbl.Title" title="@tbl.Title"
                                         onerror="this.onerror=null; this.src='/content/images/no-image.jpg'">
                                </figure>

                            </a>
                        </div>
                        <div class="col-12 col-md-7 col-xl-8">
                            <div class="th-contentbox widget">
                                <div class="th-posttitle mini">
                                    <h4><a href="@strUrl" title="@tbl.Title">@tbl.Title</a></h4>
                                </div>
                                <ul class="th-postmatadata">
                                    <li><a href="javascript:;">@tbl.UserName</a></li>
                                    <li>&nbsp; - &nbsp;</li>
                                    <li><time><a href="#">@tbl.PublishDate.ToString("dd/MM/yyyy HH:mm")</a></time></li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </li>
            }
            else
            {
                <li class="news-video-type">
                    <div class="row">
                        <div class="col-12 col-md-5 col-xl-4 mb-sm-0 mb-2">
                            <a href="@strUrl" title="@tbl.Title" rel="noopener noreferrer">
                                <figure class="figure">
                                    <img src="@tbl.Avatar2x1" alt="@tbl.Title" title="@tbl.Title"
                                         onerror="this.onerror=null; this.src='/content/images/no-image.jpg'">
                                    <div class="icon-youtube">
                                        <img src="~/Content/Images/youtube-circle.png" />
                                    </div>
                                </figure>
                            </a>
                        </div>
                        <div class="col-12 col-md-7 col-xl-8">
                            <div class="th-contentbox widget">
                                <div class="th-posttitle mini">
                                    <h4 style="text-align:justify">
                                        <a href="@strUrl" title="@tbl.Title" rel="noopener noreferrer">@tbl.Title</a>
                                    </h4>
                                </div>
                                <ul class="th-postmatadata">
                                    <li><a href="javascript:;">@tbl.UserName</a></li>
                                    <li>&nbsp; - &nbsp;</li>
                                    <li><time><a href="#">@tbl.PublishDate.ToString("dd/MM/yyyy HH:mm")</a></time></li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </li>
            }
        }
    </ul>
</div>
