@using cloudscribe.Web.Pagination
@using cloudscribe.Pagination.Models
@using kol01_hoangthuylinh.Models
@using kol01_hoangthuylinh.Helpers
@model PagedResult<tblGalleryDT>
@{
    string url = Constants.urlHost;
    int index = Model.PageSize * (int)Model.PageNumber;
}

    <div class="album-images">
        @if (Model.Data.Count > 0)
        {
            int j = 0 + index;
            <div class="row">
                @foreach (tblGalleryDT tbl in Model.Data.Skip(0).Take(4))
                {
                    if ((j % 2) == 0)
                    {
                        <div class="col-sm-2">
                            <figure class="figure">
                                <a href="#" onclick="initValue(@j,event)">
                                    <img src='@Url.Content("~/uploads/" + tbl.Avatar)' class="figure-img img-fluid">
                                </a>
                            </figure>
                        </div>
                    }
                    else
                    {
                        <div class="col-sm-4">
                            <figure class="figure">
                                <a href="#" onclick="initValue(@j,event)">
                                    <img src='@Url.Content("~/uploads/" + tbl.Avatar)' class="figure-img img-fluid">
                                </a>
                            </figure>
                        </div>
                    }
                    j++;
                }
            </div>

        }

        @if (Model.Data.Count > 4)
        {
            int k = 4 + index;
            int p = k + 1;
            <div class="row">
                @foreach (tblGalleryDT tbl in Model.Data.Skip(4).Take(4))
                {
                    if (k > p)
                    {
                        <div class="col-sm-2">
                            <figure class="figure">
                                <a href="#" onclick="initValue(@k,event)">
                                    <img src='@Url.Content("~/uploads/" + tbl.Avatar)' class="figure-img img-fluid" alt="">
                                </a>
                            </figure>
                        </div>
                    }
                    else
                    {
                        <div class="col-sm-4">
                            <figure class="figure">
                                <a href="#" onclick="initValue(@k,event)">
                                    <img src='@Url.Content("~/uploads/" + tbl.Avatar)' class="figure-img img-fluid" alt="">
                                </a>
                            </figure>
                        </div>
                    }
                    k++;
                }
            </div>

        }

        @if (Model.Data.Count > 8)
        {
            int l = 8 + index;
            int splitColumn = l;
            int count = 0;
            <div class="row">
                @foreach (tblGalleryDT tbl in Model.Data.Skip(8).Take(4))
                {
                    if ((splitColumn % 2) == 0)
                    {
                        <div class="col-sm-2">
                            <figure class="figure">
                                <a href="#" onclick="initValue(@l,event)">
                                    <img src="@Url.Content("~/uploads/" + tbl.Avatar)" class="figure-img img-fluid" alt="">
                                </a>
                            </figure>
                        </div>
                    }
                    else
                    {
                        <div class="col-sm-4">
                            <figure class="figure">
                                <a href="#" onclick="initValue(@l,event)">
                                    <img src="@Url.Content("~/uploads/" + tbl.Avatar)" class="figure-img img-fluid" alt="">
                                </a>
                            </figure>
                        </div>
                    }
                    l++;
                    splitColumn++;
                    count++;
                    if (count == 2)
                    {
                        splitColumn--;
                    }

                }

            </div>

        }
    </div>


    <div class="album-images">
        @if (Model.Data.Count() > 0)
        {
            int j = 0 + index;
            <div class="row">
                @foreach (tblGalleryDT tbl in Model.Data.Skip(0).Take(3))
                {
                    if ((j % 2) == 0)
                    {
                        <div class="col-3">
                            <figure class="figure">
                                <a href="#" onclick="initValue(@j,event)">
                                    <img src='@Url.Content("~/uploads/" + tbl.Avatar)' class="figure-img img-fluid">
                                </a>
                            </figure>
                        </div>
                    }
                    else
                    {
                        <div class="col-6">
                            <figure class="figure">
                                <a href="#" onclick="initValue(@j,event)">
                                    <img src='@Url.Content("~/uploads/" + tbl.Avatar)' class="figure-img img-fluid">
                                </a>
                            </figure>
                        </div>
                    }
                    j++;
                }
            </div>

        }

        @if (Model.Data.Count > 3)
        {
            int k = 3 + index;
            int count = 0;
            <div class="row">
                @foreach (tblGalleryDT tbl in Model.Data.Skip(3).Take(3))
                {
                    if (count == 0)
                    {
                        <div class="col-6">
                            <figure class="figure">
                                <a href="#" onclick="initValue(@k,event)">
                                    <img src='@Url.Content("~/uploads/" + tbl.Avatar)' class="figure-img img-fluid" alt="">
                                </a>
                            </figure>
                        </div>
                    }
                    else
                    {
                        <div class="col-3">
                            <figure class="figure">
                                <a href="#" onclick="initValue(@k,event)">
                                    <img src='@Url.Content("~/uploads/" + tbl.Avatar)' class="figure-img img-fluid" alt="">
                                </a>
                            </figure>
                        </div>
                    }
                    k++;
                    count++;
                }
            </div>

        }

        @if (Model.Data.Count > 6)
        {
            int l = 6 + index;
            <div class="row third-row">
                @foreach (tblGalleryDT tbl in Model.Data.Skip(6).Take(6))
                {
                    <div class="col-6">
                        <figure class="figure">
                            <a href="#" onclick="initValue(@l,event)">
                                <img src='@Url.Content("~/uploads/" + tbl.Avatar)' class="figure-img img-fluid" alt="">
                            </a>
                        </figure>
                    </div>

                }
            </div>

        }
    </div>


@if (Model.PageNumber > 1)
{
    <div>
        <cs-pager cs-paging-pagesize="Model.PageSize" cs-paging-pagenumber="Model.PageNumber + 1"
        cs-paging-totalitems="Model.TotalItems" cs-pagenumber-param="page" cs-ajax-target="#dvList"
        asp-controller="Gallery" asp-action="GetListAlbum">
        </cs-pager>
    </div>
}

