@using cloudscribe.Pagination.Models
@using cloudscribe.Web.Pagination
@using kol01_hoangthuylinh.Models
@using kol01_hoangthuylinh.Helpers

@model PagedResult<tblHome>

@{
    string url = Constants.urlHost;
}

<div class="row">
    @foreach (tblHome tbl in Model.Data)
    {
        string strLink = url + tbl.UrlLink + "-" + tbl.Id + ".html";

        <div class="col-md-12 col-sm-12 col-xs-12">
            <article class="th-themepost">
                <div class="row">
                    <div class="col-5">
                        <figure class="th-themepost-img">
                            <a href="@strLink" title="@tbl.Title">
                                <img src="@tbl.Avatar2x1" class="img-fluid" alt="@tbl.Title" title="@tbl.Title" onerror="this.onerror=null; this.src='/content/images/no-image.jpg'" />
                            </a>
                        </figure>
                    </div>
                    <div class="col-7">
                        <div class="th-posttitle">
                            <h2><a href="@strLink" title="@tbl.Title">@tbl.Title</a></h2>
                        </div>
                        <ul class="th-postmatadata">
                            <li>
                                <time>
                                    @tbl.UserName &nbsp;|&nbsp;<a href="javascript:;">@tbl.PublishDate.ToString("dd/MM/yyyy HH:mm")</a>
                                </time>
                            </li>
                        </ul>
                        <div class="th-themepost-description">
                            <p>@tbl.Teaser</p>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    }
</div>
<div class="clearfix"></div>


@if (Model.Data.Count > 0)
{
<div>
    <cs-pager cs-paging-pagesize="Model.PageSize" 
        cs-paging-pagenumber="Model.PageNumber + 1"
        cs-paging-totalitems="Model.TotalItems" 
        cs-pagenumber-param="page"
         cs-ajax-target="#dvList"
        asp-controller="Home" 
        asp-action="GetListNews"
        asp-route-pagesize="Model.PageSize">
    </cs-pager>
</div>
}
