
<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Html.Raw(ViewBag.Title)</title>
    <meta content="index,follow" name="robots" />
    <meta property="article:published_time" content="@ViewBag.Published" />
    <meta http-equiv="Content-Language" content="vi">
    <link rel="canonical" href="@ViewBag.url" />
    <meta name="description" content="@Html.Raw(ViewBag.Description)">
    <meta property="og:title" content="@Html.Raw(ViewBag.Title)" />
    <meta property="og:description" content="@Html.Raw(ViewBag.Description)" />
    <meta property="og:url" content="@ViewBag.url" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="@ViewBag.Image" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="628" />
    <script async src="https://www.googletagmanager.com/gtag/js?id =UA-198440522-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-198440522-2');
    </script>
    @Styles.Render("~/Content/csshome")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @Html.Partial("_ucHeader")
    <script type="application/ld+json">
        {
        "@@context": "https://schema.org",
        "@@type"   : "Organization",
        "name"     :"Tin sao Hàn",
        "url"      : "https://tinsaohan.com/",
        "logo"     : "https://tinsaohan.com/Content/Images/logohome.jpg",
        "contactPoint": [
        {
        "@@type": "ContactPoint",
        "contactType": "customer service"
        }
        ],
        "sameAs"    :["https://www.youtube.com/channel/UCe8MWpXzk5HSEESV7A3dqHQ","https://www.dailymotion.com/tinsaohan","https://tinsaohan.business.site","https://www.pinterest.com/tinsaohan","https://www.flickr.com/photos/193222716@N08","https://www.reddit.com/user/tinsaohan","https://tinsaohan.tumblr.com","https://twitter.com/tinsaohan","https://www.linkedin.com/in/tin-saohan-a781b8214/"],
        "foundingDate"  :"2021",
        "address" : [
        {
        "@@type"    :"PostalAddress",
        "addressLocality":"Hồ Chí Minh City",
        "addressCountry": "Việt Nam",
        "postalCode":"72209",
        "email":"tinsaohan@gmail.com"
        }
        ]
        }
    </script>

    <main>
        @RenderBody()
    </main>

    @Html.Partial("_ucFooter")
    @Scripts.Render("~/bundles/jshome")
    <script type="text/javascript">
        function runScript(e) {
            if (e.keyCode == 13) {
                SearchData();
                return false;
            }
        }

        function SearchData() {
            var txt = $("#txtKey").val();

            if (txt == "") {
                alert("Vui lòng nhập nội dung cần tìm kiếm");
            }
            else {
                window.location.href = "@Url.Content("~/tim-kiem/q=")" + encodeURIComponent(txt);
            }
        }

        $('.form-search__submit').click(function () {
            $('.navbar').toggleClass("active");
            $('.navbar form').toggleClass("active");
        })
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
