@using CMS1_Core.Models
@using CMS1_Core.Helpers
@model  tblTag

@{
    DateTime dt = (DateTime)ViewBag.PubDate; 
    string url = Constants.urlHost;

    string strLink = url + "tag/" + myCommon.FriendlyUrl(Model.TagName) + "-" + Model.Id + ".html";

}

<script type="application/ld+json">
        {
        "@@context": "https://schema.org",
        "@@type": "WebPage",
        "name": "@Html.Raw(ViewBag.Title)",
        "description": "@Html.Raw(ViewBag.Description)",
        "url": "@strLink",
        "datePublished": "@dt.ToString("yyyy'-'MM'-'dd'T'HH':'mm':'ssK")",
        "dateModified": "@dt.ToString("yyyy'-'MM'-'dd'T'HH':'mm':'ssK")"
        }
</script>
<div class="container">
    <h1 class="breadcrumb">
        Tag:&nbsp;<a href="#" title="@Model.TagName">
            @Model.TagName
        </a>
    </h1>
    <div class="row">
        <div class="col-md-8 col-sm-12 col-xs-12">
            <div class="th-single-detailv5" id="dvList">

            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            @await Component.InvokeAsync("GetLastNews")
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            LoadData();
        });

        function LoadData() {
            $.ajax({
                url: "/Tag/GetList",
                type: "POST",
                data: {
                    Id:@Model.Id
                },
                success: function (msg) {
                    $("#dvList").html(msg);
                }
            })
        }
    </script>
}