@model  kol01_hoangthuylinh.Models.tblTag

<form id="frmEdit" class="form-horizontal form-label-left" style="padding-top:15px">
    @Html.Hidden("Id")
    <div class="item form-group">
       <label for="" class="col-form-label col-md-3 col-sm-3 label-align">Tag</label>
        <div class="col-md-9">
            @Html.EditorFor(model => model.TagName, new { htmlAttributes = new { @class = "form-control required" } })
            @Html.ValidationMessageFor(model => model.TagName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="item form-group">
        <label for="" class="col-form-label col-md-3 col-sm-3 label-align">Mô tả</label>
        <div class="col-md-9">
            @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @rows = 5 })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="item form-group">
        <div class="col-md-4 col-sm-4 offset-md-3">
            <button id="btnCancel" class="btn btn-warning" onclick="$('#frmdlg').modal('hide');return false;"><i class="fa fa-ban"></i>&nbsp;Hủy</button>
            <button id="btnSave" class="btn btn-primary" onclick="SaveTag(); return false;"><i class="fa fa-floppy-o"></i>&nbsp;Lưu</button>
        </div>
    </div>
</form>



