
@model List<KOL_HoangThuyLinh.Models.tblHome>
@using System.Web.Configuration;
@using KOL_HoangThuyLinh.Models;
@{
    string url = WebConfigurationManager.AppSettings["UrlHost"];
    string strLink = "";
    string strImg = "";
}


<div class="news-feature-title text-center mt-3">
    <p>TIN MỚI NHẤT</p>
</div>
<div class="row news-newest">
    <div class="col-sm-6 col-12 mb-15 row-left">
        @if (Model.Count > 5)
        {
            strLink = url + Model[5].UrlLink + "-" + Model[5].Id + ".html";
            strImg = url + "/uploads/" + Model[5].Avatar1x1;
            <a href="@strLink">
                <div class="card justify-content-end">
                    <img src="@strImg" class="card-img h-sm-100" alt="@Model[5].Title">
                    <div class="card-img-overlay default-padding w-60 h-50">
                        <h5 class="card-title mb-0">
                            @Model[5].Title
                        </h5>
                        <br>
                        <p class="teaser line-clamp-md">
                            @Model[5].Teaser
                        </p>
                    </div>
                </div>
            </a>
        }
    </div>
    <div class="col-sm-6 col-12 row-right">
        <div class="row">
            @if (Model.Count > 6 && Model.Count >= 10)
            {
                for (int i = 6; i < 10; i++)
                {
                    strLink = url + Model[i].UrlLink + "-" + Model[i].Id + ".html";
                    strImg = url + "uploads/" + Model[i].Avatar1x1;

                    <div class="col-sm-6 col-6 mb-15">
                        <a href="@strLink">
                            <div class="card justify-content-end">
                                <img src="@strImg" class="card-img h-sm-100" alt="@Model[i].Title">
                                <div class="card-img-overlay w-100 h-45">
                                    <h5 class="card-title mb-0">
                                        @Model[i].Title
                                    </h5>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            }
            else
            {
                for (int i = 6; i < Model.Count; i++)
                {
                    strLink = url + Model[i].UrlLink + "-" + Model[i].Id + ".html";
                    strImg = url + "uploads/" + Model[i].Avatar1x1;
                    <div class="col-sm-6 col-6 mb-15">
                        <a href="@strLink">

                            <div class="card justify-content-end">
                                <img src="@strImg" class="card-img h-sm-100" alt="@Model[i].Title">
                                <div class="card-img-overlay w-100 h-45">
                                    <h5 class="card-title mb-0">
                                        @Model[i].Title
                                    </h5>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            }
        </div>
    </div>
</div>
<div class="row news-newest-last mb-15">
    @if (Model.Count > 10 && Model.Count >= 14)
    {
        for (int i = 10; i < 14; i++)
        {
            strLink = url + Model[i].UrlLink + "-" + Model[i].Id + ".html";
            strImg = url + "uploads/" + Model[i].Avatar1x1;
            if (i > 11)
            {
                <div class="col-sm-3 d-none d-sm-block">
                    <a href="@strLink">
                        <div class="card justify-content-end">
                            <img src="@strImg" class="card-img h-sm-100" alt="@Model[i].Title">
                            <div class="card-img-overlay w-100 h-45">
                                <h5 class="card-title mb-0">
                                    @Model[i].Title
                                </h5>
                            </div>
                        </div>
                    </a>
                </div>

            }
            else
            {
                <div class="col-sm-3 col-6">
                    <a href="@strLink">
                        <div class="card justify-content-end">
                            <img src="@strImg" class="card-img h-sm-100" alt="@Model[i].Title">
                            <div class="card-img-overlay w-100 h-45">
                                <h5 class="card-title mb-0">
                                    @Model[i].Title
                                </h5>
                            </div>
                        </div>
                    </a>
                </div>
            }
        }
    }
    else
    {
        for (int i = 10; i < Model.Count; i++)
        {
            strLink = url + Model[i].UrlLink + "-" + Model[i].Id + ".html";
            strImg = url + "uploads/" + Model[i].Avatar1x1;
            if (i > 11)
            {
                <div class="col-sm-3 d-none d-sm-block">
                    <a href="@strLink">
                        <div class="card justify-content-end">
                            <img src="@strImg" class="card-img h-sm-100" alt="@Model[i].Title">
                            <div class="card-img-overlay w-100 h-45">
                                <h5 class="card-title mb-0">
                                    @Model[i].Title
                                </h5>
                            </div>
                        </div>
                    </a>
                </div>
            }
            else
            {
                <div class="col-sm-3 col-6">
                    <a href="@strLink">
                        <div class="card justify-content-end">
                            <img src="@strImg" class="card-img h-sm-100" alt="@Model[i].Title">
                            <div class="card-img-overlay w-100 h-45">
                                <h5 class="card-title mb-0">
                                    @Model[i].Title
                                </h5>
                            </div>
                        </div>
                    </a>
                </div>
            }
        }
    }
</div>
<div class="w-50 m-sm-auto loading-more my-3 py-sm-3">
    <a href="/bai-viet-1c">LOADMORE...</a>
</div>

