
@model  KOL_HoangThuyLinh.Models.tblGallery
@Styles.Render("~/Content/cssupload")

@{
    string date = Model.CreateDate != new DateTime() ? Model.CreateDate.ToString("dd/MM/yyyy HH:mm") : DateTime.Now.ToString("dd/MM/yyyy HH:mm");
}

<form id="frmEdit" class="form-horizontal form-label-left" style="padding-top:15px">
    @Html.Hidden("Id")
    <div class="item form-group">
        @Html.Label("Bộ Sưu Tập", htmlAttributes: new { @class = "col-form-label col-md-3 col-sm-3 label-align" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control required" } })
            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="item form-group">
        @Html.Label("Ngày Tạo", htmlAttributes: new { @class = "col-form-label col-md-3 col-sm-3 label-align" })
        <div class="col-md-9">
            <input type="text" name="CreateDate" id="CreateDate" class="form-control has-feedback-left" placeholder="" />
            <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
        </div>
    </div>
    <div class="item form-group">
        <input type="hidden" name="AvatarCover" id="AvatarCover" value="@Model.AvatarCover" />
        @Html.Label("Ảnh Cover", htmlAttributes: new { @class = "col-form-label col-md-3 col-sm-3 label-align" })
        <div class="col-md-9">
            <span class="btn btn-success fileinput-button m-0">
                <i class="fa fa-image"></i>
                <span>Chèn hình</span>
                <input type="file" name="files[]" onchange="AddImage(event);" />
            </span>
            <div class="col-sm-12 ps-0">
                @if (Model.AvatarCover != null)
                {
                    <div id="PreviewImageGallery">
                        <img src="@Url.Content("~/uploads/" + @Model.AvatarCover)" class="w200 mt-3" />
                    </div>
                }
                else
                {
                    <div id="PreviewImageGallery">

                    </div>
                }
                <p class="text-danger mb-0" id="error-AvatarCover"></p>
            </div>
        </div>

    </div>
    <div class="item form-group">
        <div class="col-md-4 col-sm-4 offset-md-3">
            <button id="btnCancel" class="btn btn-warning" onclick="$('#frmdlg').modal('hide');return false;"><i class="fa fa-ban"></i>&nbsp;Hủy</button>
            <button id="btnSave" class="btn btn-primary" onclick="SaveGallery(); return false;"><i class="fa fa-floppy-o"></i>&nbsp;Lưu</button>
        </div>
    </div>
</form>



<script>
    $(document).ready(function () {
        $('#CreateDate').daterangepicker({
            singleDatePicker: true,
            autoApply: true,
            startDate: '@date',
            timePicker: true,
            timePicker24Hour: true,
            drops: 'down',
            locale: {
                format: 'DD-MM-YYYY HH:mm'
            }
        });
    })
</script>