@using KOL_HoangThuyLinh.Models
@using MvcPaging;

@model IPagedList<tblGalleryDT>

<div class="table-responsive">
    <table class="table table-striped jambo_table bulk_action">
        <thead class="headings">
            <tr style="padding: 5px">
                <th class="column-title" style="width: 10%;">
                    <div class="nav-action">
                        <input class="form-check-input me-3" type="checkbox" name="CheckBoxDelete" id="SelectAll">
                        <label>Chọn hết</label>
                    </div>
                    <button class="btn btn-danger btn-delete-all" onclick="DeleteCheckedDT()" style="display:none;"><i class="fa fa-remove"></i> Xoá </button>

                </th>
                <th class="column-title" style="width: 15%; ">Ảnh</th>
                <th class="column-title" style="width: 15%;">Ngày Thêm</th>
                <th class="column-title w200">

                </th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <input class="form-check-input" type="checkbox" value="@item.Id" name="cb_GalleryDT" id="cb_GalleryDT_@item.Id">
                </td>
                <td class="text-center">
                    <img src="@Url.Content("~/uploads/" + @item.Avatar)" style="width:200px" />
                </td>
                <td class="text-center">
                    @item.CreateDate.ToString("dd/MM/yyyy HH:mm")
                </td>
                <td class="text-end dvAction">
                    <button class="btn btn-danger" onclick="DeleteGalleryDT(@item.Id)"><i class="fa fa-remove"></i> Xoá </button>
                </td>
            </tr>
        }
    </table>
</div>

@if (Model.PageCount > 1)
{
    <div class="paging">
        @Html.Pager(Model.PageSize, Model.PageIndex + 1, Model.TotalItemCount, new AjaxOptions() { UpdateTargetId = "dvList" }).Options(o => o
           .RouteValues(new { clickPaging = true, ViewBag.id })
          .DisplayTemplate("Bootstrap4Pagination")
         .MaxNrOfPages(5)
        )
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        //Check all uncheck all
        $('#SelectAll').click(function (event) {
            if (this.checked) {
                $(':checkbox').each(function () {
                    this.checked = true;
                });
            } else {
                $(':checkbox').each(function () {
                    this.checked = false;
                });
            }
        });


        $(':checkbox').click(function (event) {
            var isDisplayDeleteBtn = false;
            $(':checkbox').each(function (index, el) {
                if (this.checked) {
                    isDisplayDeleteBtn = true;
                }
            });

            if (isDisplayDeleteBtn) {
                $('.btn-delete-all').css("display", "block");
            }
            else {
                $('.btn-delete-all').css("display", "none");
            }
        })
    })
</script>