

@model List<KOL_HoangThuyLinh.Models.tblHome>
@using System.Web.Configuration;
@using KOL_HoangThuyLinh.Models;
@{
    string url = WebConfigurationManager.AppSettings["UrlHost"];
    string strLink = "";
    string strImg = "";
}


<div class="container-fluid">
    <div class="row first-video text-align-center first-video-mobile d-sm-none d-flex">
        @if (Model.Count > 0)
        {
            strLink = url + Model[0].UrlLink + "-" + Model[0].Id + ".html";
            strImg = url + "/uploads/" + Model[0].Avatar2x1;
                <div class="col-12">
                    <h1 class="first-video-intro__video">VIDEOS</h1>
                </div>
                <a href="@strLink">
                    <div class="card justify-content-center mb-15">
                        <img src="@strImg" class="card-img" alt="@Model[0].Title">
                        <div class="card-img-overlay icon">
                            <img src="~/Content/Images/youtube-circle.png" alt="">
                        </div>
                    </div>
                </a>

                <div class="col-12">
                    <a href="@strLink">
                        <p class="first-video-intro__title">
                            @Model[0].Title
                        </p>
                    </a>
                </div>
                <div class="col-12">
                    <p class="first-video-intro__teaser">
                        @Model[0].Teaser
                    </p>
                </div>
        }
    </div>
</div>

<div class="container-fluid">
    <div class="row first-video first-video-desktop d-sm-flex d-none">
        @if (Model.Count > 0)
        {
            strLink = url + Model[0].UrlLink + "-" + Model[0].Id + ".html";
            strImg = url + "/uploads/" + Model[0].Avatar2x1;
            <div class="col-sm-8 first-video-image">
                <a href="@strLink">
                    <div class="card justify-content-center">
                        <img src="@strImg" class="card-img" alt="@Model[0].Title">
                        <div class="card-img-overlay icon">
                            <img src="~/Content/Images/youtube-circle.png" alt="">
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4">
                <div class="first-video-intro">
                    <h1 class="first-video-intro__video">VIDEOS</h1>
                    <p class="first-video-intro__title">
                        @Model[0].Title
                    </p>
                    <p class="first-video-intro__teaser">
                        @Model[0].Teaser
                    </p>
                </div>
            </div>
        }
    </div>
    <div class="row justify-content-center text-center popular-video-title my-3">
        <p>VIDEO NỔI BẬT</p>
    </div>
    <div class="row popular-video video-ratio-1-1 my-3">
        @if (Model.Count > 1 && Model.Count >= 5)
        {
            for (int i = 1; i < 5; i++)
            {
                strLink = url + Model[i].UrlLink + "-" + Model[i].Id + ".html";
                strImg = url + "uploads/" + Model[i].Avatar1x1;
                if (i > 2)
                {
                    <div class="col-sm-3 d-none d-sm-block">
                        <a href="@strLink">
                            <div class="card justify-content-end">
                                <img src="@strImg" class="card-img h-sm-100" alt="@Model[i].Title">
                                <div class="card-img-overlay w-100 h-50">
                                    <h5 class="card-title mb-0">
                                        @Model[i].Title
                                    </h5>
                                </div>
                                <div class="icon-youtube">
                                    <img src="~/Content/Images/youtube-circle.png" alt="">
                                </div>
                            </div>

                        </a>
                    </div>
                }
                else
                {
                    <div class="col-sm-3 col-6">
                        <a href="@strLink">
                            <div class="card justify-content-end">
                                <img src="@strImg" class="card-img h-sm-100" alt="@Model[i].Title">
                                <div class="card-img-overlay w-100 h-50">
                                    <h5 class="card-title mb-0">
                                        @Model[i].Title
                                    </h5>
                                </div>
                                <div class="icon-youtube">
                                    <img src="~/Content/Images/youtube-circle.png" alt="">
                                </div>
                            </div>
                        </a>
                    </div>
                }
            }
        }
        else
        {
            for (int i = 1; i < Model.Count; i++)
            {
                strLink = url + Model[i].UrlLink + "-" + Model[i].Id + ".html";
                strImg = url + "uploads/" + Model[i].Avatar1x1;
                if (i > 2)
                {
                    <div class="col-sm-3 d-none d-sm-block">
                        <a href="@strLink">
                            <div class="card justify-content-end">
                                <img src="@strImg" class="card-img h-sm-100" alt="@Model[i].Title">
                                <div class="card-img-overlay w-100 h-50">
                                    <h5 class="card-title mb-0">
                                        @Model[i].Title
                                    </h5>
                                </div>
                                <div class="icon-youtube">
                                    <img src="~/Content/Images/youtube-circle.png" alt="">
                                </div>
                            </div>

                        </a>
                    </div>
                }
                else
                {
                    <div class="col-sm-3 col-6">
                        <a href="@strLink">
                            <div class="card justify-content-end">
                                <img src="@strImg" class="card-img h-sm-100" alt="@Model[i].Title">
                                <div class="card-img-overlay w-100 h-50">
                                    <h5 class="card-title mb-0">
                                        @Model[i].Title
                                    </h5>
                                </div>
                                <div class="icon-youtube">
                                    <img src="~/Content/Images/youtube-circle.png" alt="">
                                </div>
                            </div>
                        </a>
                    </div>
                }
            }
        }
    </div>
    <div class="row popular-video video-ratio-1-2 my-3">
        @if (Model.Count > 5 && Model.Count >= 9)
        {
            for (int i = 5; i < 9; i++)
            {
                strLink = url + Model[i].UrlLink + "-" + Model[i].Id + ".html";
                strImg = url + "uploads/" + Model[i].Avatar1x2;
                if (i > 6)
                {
                    <div class="col-sm-3 col-6 d-none d-sm-block">
                        <a href="@strLink">
                            <div class="card justify-content-end">
                                <img src="@strImg" class="card-img" alt="@Model[i].Title">
                                <div class="card-img-overlay w-100 h-50">
                                    <h5 class="card-title mb-0">
                                        @Model[i].Title
                                    </h5>
                                    <br>
                                    <p class="teaser line-clamp-md">
                                        @Model[i].Teaser
                                    </p>
                                </div>
                                <div class="icon-youtube">
                                    <img src="~/Content/Images/youtube-circle.png" alt="">
                                </div>
                            </div>
                        </a>
                    </div>
                }
                else
                {
                    <div class="col-sm-3 col-6">
                        <a href="@strLink">
                            <div class="card justify-content-end">
                                <img src="@strImg" class="card-img" alt="@Model[i].Title">
                                <div class="card-img-overlay w-100 h-50">
                                    <h5 class="card-title mb-0">
                                        @Model[i].Title
                                    </h5>
                                    <br>
                                    <p class="teaser line-clamp-md">
                                        @Model[i].Teaser
                                    </p>
                                </div>
                                <div class="icon-youtube">
                                    <img src="~/Content/Images/youtube-circle.png" alt="">
                                </div>
                            </div>
                        </a>
                    </div>
                }
            }
        }
        else if (Model.Count > 5 && Model.Count <= 9)
        {
            for (int i = 5; i < Model.Count; i++)
            {
                strLink = url + Model[i].UrlLink + "-" + Model[i].Id + ".html";
                strImg = url + "uploads/" + Model[i].Avatar1x2;
                if (i > 6)
                {
                    <div class="col-sm-3 col-6 d-none d-sm-block">
                        <a href="@strLink">
                            <div class="card justify-content-end">
                                <img src="@strImg" class="card-img" alt="@Model[i].Title">
                                <div class="card-img-overlay w-100 h-50">
                                    <h5 class="card-title mb-0">
                                        @Model[i].Title
                                    </h5>
                                    <br>
                                    <p class="teaser line-clamp-md">
                                        @Model[i].Teaser
                                    </p>
                                </div>
                                <div class="icon-youtube">
                                    <img src="~/Content/Images/youtube-circle.png" alt="">
                                </div>
                            </div>
                        </a>
                    </div>
                }
                else
                {
                    <div class="col-sm-3 col-6">
                        <a href="@strLink">
                            <div class="card justify-content-end">
                                <img src="@strImg" class="card-img" alt="@Model[i].Title">
                                <div class="card-img-overlay w-100 h-50">
                                    <h5 class="card-title mb-0">
                                        @Model[i].Title
                                    </h5>
                                    <br>
                                    <p class="teaser line-clamp-md">
                                        @Model[i].Teaser
                                    </p>
                                </div>
                                <div class="icon-youtube">
                                    <img src="~/Content/Images/youtube-circle.png" alt="">
                                </div>
                            </div>
                        </a>
                    </div>
                }
            }
        }
    </div>
    <div class="w-50 m-auto loading-more my-3">
        <a href="/bai-viet-video-3c">LOADMORE...</a>
    </div>
</div>

